Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-10, with the labels that each got.

#80 Create stepper
  frontend/src/components/intake/Stepper.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#85 Setup Selection Item And Selection Item Container Component Styles
  frontend/src/components/common/CustomTag.tsx
  frontend/src/components/pages/HomePage.tsx
  frontend/src/theme/containerStyles.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/tagStyles.tsx
Labels: ship 🚢, frontend

#83 Add Query for Goals Given Intake ID
  backend/python/app/services/implementations/goal_service.py
  backend/python/app/services/interfaces/goal_service.py
  backend/python/tests/functional/test_goal_service.py
Labels: backend

#86 juthika/intake - match referral details w hifi designs
  frontend/src/components/intake/ReferralForm.tsx
Labels: ship 🚢, frontend

#70 Get concerns given intake
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/tests/functional/test_concern_service.py
Labels: ship 🚢, backend

#92 create other permitted individuals
  backend/python/app/models/__init__.py
  backend/python/app/models/other_permitted_individual.py
Labels: ship 🚢, db

#91 Juthika/intake add new daytime contact
  backend/python/app/models/daytime_contact.py
  backend/python/app/resources/daytime_contact_dto.py
  backend/python/app/services/implementations/daytime_contact_service.py
  backend/python/app/services/interfaces/daytime_contact_service.py
  backend/python/tests/functional/test_caregiver_service.py
  backend/python/tests/functional/test_child_service.py
  backend/python/tests/functional/test_daytime_contact_service.py
Labels: ship 🚢, backend, db

#90 [kai/caregiver-route] Add /caregiver route
  backend/python/app/middlewares/validate.py
  backend/python/app/rest/__init__.py
  backend/python/app/rest/caregiver_routes.py
  backend/python/app/services/implementations/caregiver_service.py
  backend/python/app/services/implementations/user_service.py
  backend/python/app/services/interfaces/caregiver_service.py
  backend/python/tools/db_seed.py
Labels: backend

#89 Setup Pages For Intake Form
  frontend/src/components/intake/PermittedIndividualsForm.tsx
  frontend/src/components/intake/ProgramForm.tsx
  frontend/src/components/intake/ReviewCaseForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#93 Create Individual Details Entrypoint
  frontend/src/App.tsx
  frontend/src/components/intake/IndividualDetailsEntry.tsx
  frontend/src/components/intake/PromptBox.tsx
  frontend/src/components/pages/IndividualDetails.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/src/constants/Routes.ts
Labels: changes requested 🔃, frontend

#94 [kai/diff-caregiver-and-provider] Update models caregiver and provider
  backend/python/app/models/__init__.py
  backend/python/app/models/caregiver.py
  backend/python/app/models/provider.py
  backend/python/app/resources/caregiver_dto.py
  backend/python/migrations/versions/2022-10-30_94d5d0cd2d69_differentiate_caregiver_and_provider.py
  backend/python/tests/functional/test_caregiver_service.py
  backend/python/tools/db_seed.py
Labels: backend, db
