Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-09, with the labels that each got.

#56 Add method to get and add a goal
  backend/python/app/resources/goal_dto.py
  backend/python/app/services/implementations/goal_service.py
  backend/python/app/services/interfaces/goal_service.py
  backend/python/tests/functional/test_goal_service.py
Labels: changes requested 🔃, backend

#75 Add intake header component
  frontend/src/components/intake/IntakeHeader.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: changes requested 🔃, frontend

#72 Add date columns to goals
  backend/python/app/models/goal.py
  backend/python/migrations/versions/2022-08-14_ccabdb62cbef_add_date_columns_to_goals.py
Labels: ship 🚢, db

#71 Set Up Design System Breakpoints
  frontend/src/components/pages/HomePage.tsx
  frontend/src/theme/breakpoints.tsx
  frontend/src/theme/index.tsx
Labels: ship 🚢, frontend

#77 Setup intake enum field values
  backend/python/app/models/caregiver.py
  backend/python/app/models/intake.py
  backend/python/tests/functional/test_caregiver_service.py
Labels: ship 🚢, db

#79 Fix login
  backend/python/app/resources/auth_dto.py
  backend/python/app/services/implementations/auth_service.py
  backend/python/tests/functional/test_auth_service.py
Labels: ship 🚢, backend

#84 Add migration to update intake and caregiver enums
  backend/python/app/models/intake.py
  backend/python/migrations/versions/2022-09-25_7343e3f6ce2b_update_intake_and_caregivers_enums.py
Labels: db
