Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-08, with the labels that each got.

#64 Added add_new_child
  backend/python/app/resources/child_dto.py
  backend/python/app/services/implementations/child_service.py
  backend/python/app/services/interfaces/child_service.py
  backend/python/tests/functional/test_child_service.py
Labels: ship 🚢, backend

#69 Add feather-icons library
  frontend/package.json
  frontend/src/components/pages/HomePage.tsx
  frontend/yarn.lock
Labels: frontend

#63 Implement formik
  frontend/package.json
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/PermittedIndividualsForm.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/yarn.lock
Labels: ship 🚢, frontend

#67 add input styling
  frontend/src/components/pages/HomePage.tsx
  frontend/src/theme/components.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/inputStyles.tsx
Labels: changes requested 🔃, frontend

#65 Set Up Design System Spacing
  frontend/src/components/pages/HomePage.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/spacing.tsx
Labels: changes requested 🔃, frontend

#68 Add default flag to lookup tables
  backend/python/app/models/access_type.py
  backend/python/app/models/branch.py
  backend/python/app/models/concern.py
  backend/python/app/models/goal.py
  backend/python/app/models/transportation_method.py
  backend/python/app/resources/access_type_dto.py
  backend/python/app/resources/branch_dto.py
  backend/python/app/resources/concern_dto.py
  backend/python/app/resources/transportation_method_dto.py
  backend/python/app/services/implementations/access_type_service.py
  backend/python/app/services/implementations/branch_service.py
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/implementations/transport_method_service.py
  backend/python/app/services/interfaces/access_type_service.py
  backend/python/app/services/interfaces/branch_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/app/services/interfaces/transport_method_service.py
  backend/python/migrations/versions/2022-08-14_6d3ed0c1b66e_added_default_column.py
  backend/python/tests/functional/test_access_type_service.py
  backend/python/tests/functional/test_branch_service.py
  backend/python/tests/functional/test_concern_service.py
  backend/python/tests/functional/test_transport_method_service.py
  backend/python/tests/unit/test_concern_service.py
Labels: ship 🚢, db

#66 Remove .coverage file from repo
  .gitignore
  backend/python/tests/.coverage
Labels: dev/ci

#73 create custom input and change all inputs to custom
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/PermittedIndividualsForm.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/pages/HomePage.tsx
Labels: ship 🚢, frontend

#76 get all child and familial concerns
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/tests/functional/test_concern_service.py
Labels: ship 🚢, backend
