Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-11, with the labels that each got.

#96 [kai/delete-address-table] Delete address table
  backend/python/app/models/__init__.py
  backend/python/app/models/address.py
  backend/python/app/models/daytime_contact.py
  backend/python/app/models/intake.py
  backend/python/app/resources/address_dto.py
  backend/python/app/resources/daytime_contact_dto.py
  backend/python/app/services/implementations/address_service.py
  backend/python/app/services/implementations/daytime_contact_service.py
  backend/python/app/services/interfaces/address_service.py
  backend/python/migrations/versions/2022-11-02_5fff1dc51c07_remove_address_table.py
  backend/python/tests/functional/test_address_service.py
  backend/python/tests/functional/test_child_service.py
  backend/python/tests/functional/test_daytime_contact_service.py
  backend/python/tools/db_seed.py
Labels: ship 🚢, backend, db

#97 [kai/update-intake-model] Update intake model
  backend/python/app/models/intake.py
  backend/python/migrations/versions/2022-11-07_12e97fac48b2_update_intake_model.py
  backend/python/tests/functional/test_caregiver_service.py
  backend/python/tests/functional/test_child_service.py
  backend/python/tests/functional/test_concern_service.py
  backend/python/tests/functional/test_goal_service.py
  backend/python/tools/db_seed.py
Labels: ship 🚢, backend, db

#98 [kai/provider-create-new] Add provider service and provider creation
  backend/python/app/resources/daytime_contact_dto.py
  backend/python/app/resources/provider_dto.py
  backend/python/app/services/implementations/provider_service.py
  backend/python/app/services/interfaces/provider_service.py
  backend/python/tests/functional/test_provider_service.py
Labels: ship 🚢, backend

#100 [kai/dto-readability] Improve DTO readability
  backend/python/app/resources/caregiver_dto.py
  backend/python/app/resources/child_dto.py
  backend/python/app/resources/daytime_contact_dto.py
Labels: ship 🚢, backend

#99 [kai/intake-service-create] Add intake service creation
  backend/python/app/resources/intake_dto.py
  backend/python/app/services/implementations/intake_service.py
  backend/python/app/services/interfaces/intake_service.py
  backend/python/tests/functional/test_intake_service.py
Labels: ship 🚢, backend

#103 Create add child page with form selection component
  frontend/src/App.tsx
  frontend/src/components/intake/IndividualDetailsEntry.tsx
  frontend/src/components/intake/child-information/AddChildPage.tsx
  frontend/src/components/intake/child-information/ChildInformationForm.tsx
  frontend/src/components/intake/child-information/ChildProviderForm.tsx
  frontend/src/components/intake/child-information/FormSelector.tsx
  frontend/src/components/intake/child-information/SchoolDaycareForm.tsx
  frontend/src/constants/Routes.ts
Labels: frontend

#102 Update Stepper Component To Allow Navigation
  frontend/src/components/intake/Stepper.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend
