Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-07, with the labels that each got.

#36 Squash all intake model migrations
  backend/python/app/middlewares/validate.py
  backend/python/app/models/__init__.py
  backend/python/app/models/access_type.py
  backend/python/app/models/address.py
  backend/python/app/models/base_mixin.py
  backend/python/app/models/branch.py
  backend/python/app/models/caregiver.py
  backend/python/app/models/child.py
  backend/python/app/models/child_concern.py
  backend/python/app/models/daytime_contact.py
  backend/python/app/models/entity.py
  backend/python/app/models/enum.py
  backend/python/app/models/familial_concern.py
  backend/python/app/models/intake.py
  backend/python/app/models/long_term_goal.py
  backend/python/app/models/short_term_goal.py
  backend/python/app/models/transportation_method.py
  backend/python/app/models/user.py
  backend/python/app/models/visit_location.py
  backend/python/app/resources/entity_dto.py
  backend/python/app/rest/__init__.py
  backend/python/app/rest/entity_routes.py
  backend/python/app/services/implementations/entity_service.py
  backend/python/app/services/interfaces/entity_service.py
  backend/python/app/static/openapi.json
  backend/python/migrations/versions/1f9c523fe04c_create_caregivers_model.py
  backend/python/migrations/versions/2022_06_24-f5b6bf135715-intake_models_initial_migration.py
  backend/python/migrations/versions/4dfecb9b3a37_daytime_contacts.py
  backend/python/migrations/versions/5c95f4efed2d_create_transportation_method_model.py
  backend/python/migrations/versions/6cd80740889b_reference_user_branch_using_lookup_table.py
  backend/python/migrations/versions/7036da15285b_create_access_types_model.py
  backend/python/migrations/versions/797bfedc3a06_add_entity_file_storage_file_name.py
  backend/python/migrations/versions/8a03057d5a04_create_address_model.py
  backend/python/migrations/versions/8ad687618714_create_familial_and_child_concerns_model.py
  backend/python/migrations/versions/dedc5f7be10c_initial_migration.py
  backend/python/migrations/versions/e7f7ce362f62_Add_role_and_branch_to_user_model.py
  e2e-tests/test_entity.py
  e2e-tests/test_entity_gql.py
Labels: db

#40 Fix duplicate familial_concerns in intake model
  backend/python/app/models/intake.py
Labels: db

#41 Implement Get All Access Types Method
  backend/python/app/services/implementations/access_type_service.py
  backend/python/app/services/interfaces/access_type_service.py
  backend/python/tests/unit/test_access_type_service.py
Labels: ship 🚢, backend

#31 Add method get_all_transportation_methods
  backend/python/app/services/implementations/transport_method_service.py
  backend/python/app/services/interfaces/transport_method_service.py
  backend/python/tests/functional/test_transport_method_service.py
Labels: ship 🚢, backend

#43 Setup Basic Intake Form Flow
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#37 Add New Familial / Child Concerns
  backend/python/app/resources/concern_dto.py
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/tests/unit/test_concern_service.py
Labels: ship 🚢, backend

#47 Fix heroku deployments on push to main
  .github/workflows/heroku-deploy-dev-py.yml
  backend/python/runtime.txt
Labels: dev/ci

#42 Added script to generate local_test_coverage_report
  .gitattributes
  .gitignore
  README.md
  backend/python/requirements.txt
  backend/python/tests/coverage.sh
Labels: dev/ci

#44 Add method get_all_branches
  backend/python/app/services/implementations/branch_service.py
  backend/python/app/services/interfaces/branch_service.py
  backend/python/tests/functional/test_branch_service.py
Labels: changes requested 🔃, backend

#45 Squash Goals and Concerns Tables
  backend/python/app/models/__init__.py
  backend/python/app/models/child_concern.py
  backend/python/app/models/concern.py
  backend/python/app/models/familial_concern.py
  backend/python/app/models/goal.py
  backend/python/app/models/intake.py
  backend/python/app/models/long_term_goal.py
  backend/python/app/models/short_term_goal.py
  backend/python/migrations/versions/2022-07-03_57f14d8ff8bf_condense_goals_and_concerns_models.py
  backend/python/tests/unit/test_concern_service.py
Labels: ship 🚢, db

#49 create dummy referrals screen
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/src/theme/components.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/textStyles.tsx
  frontend/yarn.lock
Labels: frontend

#51 Create Intake Goals Table
  backend/python/app/models/intake.py
  backend/python/migrations/versions/2022-07-17_8298e2141907_create_intake_goals_association_table.py
Labels: db

#48 Separate get add methods and maintain consistency
  backend/python/app/resources/access_type_dto.py
  backend/python/app/resources/branch_dto.py
  backend/python/app/resources/transportation_method_dto.py
  backend/python/app/services/implementations/access_type_service.py
  backend/python/app/services/implementations/branch_service.py
  backend/python/app/services/implementations/transport_method_service.py
  backend/python/app/services/interfaces/access_type_service.py
  backend/python/app/services/interfaces/branch_service.py
  backend/python/app/services/interfaces/transport_method_service.py
  backend/python/tests/functional/test_access_type_service.py
  backend/python/tests/functional/test_branch_service.py
  backend/python/tests/functional/test_transport_method_service.py
Labels: ship 🚢, backend

#55 Fix frontend lint GitHub action warnings
  .github/workflows/lint.yml
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
Labels: frontend

#52 Add new caregiver service
  backend/python/app/resources/caregiver_dto.py
  backend/python/app/services/implementations/caregiver_service.py
  backend/python/app/services/interfaces/caregiver_service.py
  backend/python/tests/functional/test_caregiver_service.py
Labels: backend

#58 Set up design system text styles
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/pages/HomePage.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/src/components/pages/NotFound.tsx
  frontend/src/components/pages/VisitPage.tsx
  frontend/src/theme/components.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/textStyles.tsx
  frontend/yarn.lock
Labels: frontend

#54 Implement other permitted individuals screen
  frontend/src/components/intake/PermittedIndividualsForm.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/src/theme/components.tsx
  frontend/src/theme/index.tsx
Labels: ship 🚢, frontend

#61 Set Up Design System Colors
  frontend/src/components/pages/HomePage.tsx
  frontend/src/theme/colors.tsx
Labels: ship 🚢, frontend

#50 Implement Dummy Court Information Screen
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#60 Fail linting GH action when frontend throws warnings
  frontend/package.json
Labels: dev/ci

#59 Update get/add methods for concern service
  backend/python/app/resources/concern_dto.py
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/tests/.coverage
  backend/python/tests/unit/test_concern_service.py
Labels: ship 🚢, backend
