Repository uwblueprint/childrens-aid-society, pull requests merged in 2022-12, with the labels that each got.

#88 Convert Court Information page to hi-fi
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/CustomTag.tsx
  frontend/src/components/intake/Autocomplete.tsx
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/OptionalLabel.tsx
  frontend/src/components/intake/PermittedIndividualsForm.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/intake/Select.tsx
  frontend/src/components/pages/HomePage.tsx
  frontend/src/components/pages/IntakePage.tsx
  frontend/src/theme/components.tsx
  frontend/src/theme/containerStyles.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/tagStyles.tsx
Labels: frontend

#112 [kai/provider-route] Provider service delete
  backend/python/app/resources/provider_dto.py
  backend/python/app/services/implementations/provider_service.py
  backend/python/app/services/interfaces/provider_service.py
  backend/python/tests/functional/test_provider_service.py
  backend/python/tools/db_seed.py
Labels: ship 🚢, backend, db

#110 [kai/caregiver-route-delete] Caregiver service delete
  backend/python/app/services/implementations/caregiver_service.py
  backend/python/app/services/interfaces/caregiver_service.py
  backend/python/tests/functional/test_caregiver_service.py
Labels: ship 🚢, backend, db

#105 [kai/differentiate-child-behavior-familial-concerns] Change child_behaviors and familial_concerns
  backend/python/app/models/__init__.py
  backend/python/app/models/child.py
  backend/python/app/models/child_behavior.py
  backend/python/app/models/children_child_behaviors.py
  backend/python/app/models/familial_concern.py
  backend/python/app/models/intake.py
  backend/python/app/models/intakes_concerns.py
  backend/python/app/models/intakes_goals.py
  backend/python/app/resources/child_behavior_dto.py
  backend/python/app/resources/concern_dto.py
  backend/python/app/resources/familial_concern_dto.py
  backend/python/app/services/implementations/child_behavior_service.py
  backend/python/app/services/implementations/child_service.py
  backend/python/app/services/implementations/concern_service.py
  backend/python/app/services/implementations/familial_concern_service.py
  backend/python/app/services/interfaces/child_behavior_service.py
  backend/python/app/services/interfaces/child_service.py
  backend/python/app/services/interfaces/concern_service.py
  backend/python/app/services/interfaces/familial_concern_service.py
  backend/python/migrations/versions/2022-11-23_2ba84d84b1b7_update_familial_concern_and_child_.py
  backend/python/tests/functional/test_auth_service.py
  backend/python/tests/functional/test_child_behavior_service.py
  backend/python/tests/functional/test_child_service.py
  backend/python/tests/functional/test_concern_service.py
  backend/python/tests/functional/test_familial_concern_service.py
Labels: ship 🚢, backend, db

#107 [kai/permitted-individual-create] Other Permitted Individual service
  backend/python/app/resources/other_permitted_individual_dto.py
  backend/python/app/services/implementations/other_permitted_individual_service.py
  backend/python/app/services/interfaces/other_permitted_individual_service.py
  backend/python/tests/functional/test_other_permitted_individual_service.py
  backend/python/tools/db_seed.py
Labels: ship 🚢, backend, db

#111 [kai/child-routes] Children service delete
  backend/python/app/resources/child_dto.py
  backend/python/app/rest/child_routes.py
  backend/python/app/services/implementations/child_service.py
  backend/python/app/services/interfaces/child_service.py
  backend/python/tests/functional/test_child_service.py
Labels: backend, db

#104 Create existing provider modal
  frontend/src/components/common/ModalComponent.tsx
  frontend/src/components/intake/ExistingProviderModal.tsx
  frontend/src/components/intake/child-information/ChildProviderForm.tsx
Labels: ship 🚢, frontend

#106 Create modal new provider
  frontend/src/components/common/ModalComponent.tsx
  frontend/src/components/intake/NewProviderModal.tsx
  frontend/src/components/intake/child-information/ChildProviderForm.tsx
Labels: changes requested 🔃, frontend
