Repository uwblueprint/childrens-aid-society, pull requests merged in 2023-02, with the labels that each got.

#128 Review Case - Individual Details
  frontend/src/components/intake/IndividualDetails.tsx
  frontend/src/components/intake/ReviewCaseForm.tsx
Labels: changes requested 🔃, frontend

#124 Add footer with save button to child form
  frontend/src/components/intake/child-information/AddChildPage.tsx
  frontend/src/components/intake/child-information/ChildInformationForm.tsx
Labels: ship 🚢, frontend

#136 Review Case - Court Information
  frontend/src/components/intake/Autocomplete.tsx
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/ReviewCaseForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: changes requested 🔃, frontend

#134 Intake footer
  frontend/src/components/intake/CourtInformationForm.tsx
  frontend/src/components/intake/IndividualDetailsEntry.tsx
  frontend/src/components/intake/IntakeFormFooter.tsx
  frontend/src/components/intake/ProgramForm.tsx
  frontend/src/components/intake/ReferralForm.tsx
  frontend/src/components/intake/ReviewCaseForm.tsx
  frontend/src/components/intake/Stepper.tsx
  frontend/src/components/intake/intakeSteps.ts
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢

#139 Integrate Caregivers flow with add and delete functionality
  frontend/src/components/intake/IndividualDetailsEntry.tsx
  frontend/src/components/intake/NewCaregiverModal.tsx
  frontend/src/components/intake/NewProviderModal.tsx
  frontend/src/components/intake/indivDetails/CaregiverProviderForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#142 Create Add ‘Other Permitted Individuals’ Modal
  frontend/src/components/intake/PermittedIndividualsModal.tsx
  frontend/src/components/intake/ProgramForm.tsx
Labels: ship 🚢, frontend

#140 Implement ‘Edit’ button function in Review Case page
  frontend/src/components/intake/IndividualDetails.tsx
  frontend/src/components/intake/ReviewCaseForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: ship 🚢, frontend

#143 Change “Caregiver” mentions to “Visiting Family Member”
  frontend/src/components/intake/IndividualDetails.tsx
  frontend/src/components/intake/NewCaregiverModal.tsx
  frontend/src/components/intake/indivDetails/CaregiverProviderForm.tsx
Labels: changes requested 🔃
