Repository uwblueprint/childrens-aid-society, pull requests merged in 2023-01, with the labels that each got.

#115 Juthika/intake create new caregiver modal
  frontend/src/App.tsx
  frontend/src/components/intake/IndividualDetailsEntry.tsx
  frontend/src/components/intake/NewCaregiverModal.tsx
  frontend/src/components/pages/IndividualDetails.tsx
  frontend/src/constants/Routes.ts
Labels: changes requested 🔃, frontend

#113 Implement ‘Add Child’ Information page
  frontend/src/components/intake/child-information/AddChildPage.tsx
  frontend/src/components/intake/child-information/ChildInformationForm.tsx
Labels: changes requested 🔃, frontend

#119 Create Access Program Screen
  frontend/src/components/intake/ProgramForm.tsx
Labels: changes requested 🔃, frontend

#123 Implement ‘Providers’ box within Add Child
  frontend/src/components/intake/PromptBox.tsx
  frontend/src/components/intake/child-information/ChildProviderForm.tsx
Labels: ship 🚢, frontend

#122 Implement Program Detail page form fields
  frontend/src/components/intake/ProgramForm.tsx
  frontend/src/components/pages/IntakePage.tsx
Labels: changes requested 🔃

#125 Render Individual’s details through PromptBox
  frontend/src/components/intake/PromptBox.tsx
  frontend/src/components/intake/child-information/ChildProviderForm.tsx
Labels: changes requested 🔃, frontend

#126 Implement ‘School/Daycare’ page within Add Child
  frontend/src/components/intake/child-information/AddChildPage.tsx
  frontend/src/components/intake/child-information/SchoolDaycareForm.tsx
Labels: ship 🚢, frontend
